img {
  width: 50%;
}
.modal {
  justify-content: center;
}
.jumbotron {
  font-size: 85px;
}
#questionForm, #knowTrack {
  display: none;
}
h4, .jumbotron {
  font-family: 'Racing Sans One', cursive;
}
