img {
  width: 50%;
  border: 1px solid;
}
.modal {
  text-align: center;
}
.jumbotron {
  font-size: 85px;
}
#questionForm, #knowTrack {
  display: none;
}
h4, h5, .jumbotron {
  font-family: 'Racing Sans One', cursive;
}
